@model proje.Models.kisimodel.KisiGuncelleViewModel
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kişi Güncelle</h2>
@using (Html.BeginForm("Guncelle","kisi", FormMethod.Post, new { @class="form-horizontal"}))
{

@*<form class="form-horizontal" method="post" action="/kisi/Guncelle/">*@
    @Html.HiddenFor(x => x.kisi.id)
    <div class="form-group">
        @Html.LabelFor(x => x.kisi.ad)
        @Html.TextBoxFor(x => x.kisi.ad, null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.kisi.soyad)
        @Html.TextBoxFor(x => x.kisi.soyad, null, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.kisi.email)
        @Html.TextBoxFor(x => x.kisi.email, null, new { @class = "form-control" })

    </div>


    <div class="form-group">
        @Html.LabelFor(x => x.kisi.modid)
        @Html.DropDownListFor(x => x.kisi.modid, new SelectList(Model.modlar, "id", "mod"), new { @class = "form-control" })

    </div>


    <div class="form-group">
        @Html.LabelFor(x => x.kisi.hareketid)
        @Html.DropDownListFor(x => x.kisi.hareketid, new SelectList(Model.hareketler, "id", "hareket"), new { @class = "form-control" })

    </div>


    <div class="form-group">
        @Html.LabelFor(x => x.kisi.teslimatid)
        @Html.DropDownListFor(x => x.kisi.teslimatid, new SelectList(Model.teslimatlar, "id", "teslimat"), new { @class = "form-control" })

    </div>


    <div class="form-group">
        @Html.LabelFor(x => x.kisi.paketid)
        @Html.DropDownListFor(x => x.kisi.paketid, new SelectList(Model.paketler, "id", "paket"), new { @class = "form-control" })

    </div>


    <div class="form-group">
        @Html.LabelFor(x => x.kisi.birimid)
        @Html.DropDownListFor(x => x.kisi.birimid, new SelectList(Model.birimler, "id", "birim"), new { @class = "form-control" })

    </div>


    <div class="form-group">
        @Html.LabelFor(x => x.kisi.uniteid)
        @Html.DropDownListFor(x => x.kisi.uniteid, new SelectList(Model.uniteler, "id", "unite"), new { @class = "form-control" })

    </div>


    <div class="form-group">

        @Html.LabelFor(x => x.kisi.paraid)
        @Html.DropDownListFor(x => x.kisi.paraid, new SelectList(Model.paralar, "id", "para"), new { @class = "form-control" })

    </div>


    <div class="form-group">

        @Html.LabelFor(x => x.kisi.sehirid)
        @*@Html.DropDownListFor(x => x.kisi.sehirid, ViewBag.sehirler as SelectList, new { @class = "form-control" })*@
        @Html.DropDownListFor(x => x.kisi.sehirid,new SelectList(Model.sehirler,"id","Sehiradi"), new { @class = "form-control" })
    </div>




    <input type="submit" class="btn btn-primary" value="Güncelle" />

@*</form>*@
}

