@model IEnumerable<proje.Models.Entities.mod>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mod Listesi</h2>

<p>
    @Html.ActionLink("Yeni Mod Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mod)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mod)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detay", "Details", new { id=item.id }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
